/obj
/Logs
/Library
/MightyFinalFight.sln
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/UserSettings
/Temp
/Packages
/.vs
/.vsconfig
/temp.unitypackage
/Assets/StreamingAssets
/*.csproj
/MightyFinalFight.slnx
/.idea
