/obj
/Logs
/Library
/MightyFinalFight.sln
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/UserSettings
/Temp
/Packages
/.vs
/.vsconfig
/temp.unitypackage
/Assets/StreamingAssets
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Assets/StreamingAssets.meta
/StompyRobot.SRDebugger.Editor.csproj
/StompyRobot.SRDebugger.csproj
/StompyRobot.SRF.Editor.csproj
/StompyRobot.SRF.csproj
